################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeopleSync/Net8/Akumina.PeopleSync.Customization/obj/*
/PeopleSync/Net8/Akumina.PeopleSync.Customization/bin/*
/PeopleSync/Net8/.vs/Akumina.PeopleSync.Customization/v17/*
/PeopleSync/Net8/.vs/Akumina.PeopleSync.Customization/FileContentIndex/*
/PeopleSync/Net8/.vs/Akumina.PeopleSync.Customization/CopilotIndices/*
/PeopleSync/Net8/.vs/ProjectEvaluation
/PeopleSync/Net8/Serverless/Akumina.PeopleSync.Customization/obj/*
/PeopleSync/Net8/Serverless/Akumina.PeopleSync.Customization/bin/*
/PeopleSync/Net8/Serverless/.vs/Akumina.PeopleSync.Customization/v17/*
/PeopleSync/Net8/Serverless/.vs/Akumina.PeopleSync.Customization/FileContentIndex/*
/PeopleSync/Net8/Serverless/.vs/Akumina.PeopleSync.Customization/CopilotIndices/*
/PeopleSync/Net8/Serverless/.vs/ProjectEvaluation
/PeopleSync/Net8/Console/Akumina.PeopleSync.Customization/obj/*
/PeopleSync/Net8/Console/Akumina.PeopleSync.Customization/bin/*
/PeopleSync/Net8/Console/.vs/Akumina.PeopleSync.Customization/v17/*
/PeopleSync/Net8/Console/.vs/Akumina.PeopleSync.Customization/FileContentIndex/*
/PeopleSync/Net8/Console/.vs/Akumina.PeopleSync.Customization/CopilotIndices/*
/PeopleSync/Net8/Console/.vs/ProjectEvaluation
/PeopleSync/Net8/Console/.vs/Akumina.PeopleSync.Customization/DesignTimeBuild/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/obj/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/bin/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/v17/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/FileContentIndex/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/CopilotIndices/*
/Samples/Serverless PeopleSync/Akumina.PeopleSync.Customization/.vs/ProjectEvaluation
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/obj/*
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/bin/*
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/v17/*
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/FileContentIndex/*
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/CopilotIndices/*
/Samples/Serverless PeopleSync/PeopleSync-Sample-8/.vs/ProjectEvaluation
/Samples/Serverless PeopleSync/.vs/PeopleSync-Sample-8/FileContentIndex/*
/Samples/Serverless PeopleSync/.vs/PeopleSync-Sample-8/CopilotIndices/*
/Samples/Serverless PeopleSync/.vs/PeopleSync-Sample-8/.vs/ProjectEvaluation
/Samples/Serverless PeopleSync/.vs/PeopleSync-Sample-8/v17/*
