################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Akumina.Samples.TokenStore/.vs/Akumina.Samples/v15
